@font-face {
  font-family: 'RobotoMono';
  src: url('fonts/nothing.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the custom font to the body */
body {
  font-family: 'nothing', monospace;
}

/* Basic styling */
.terminal-window {
  padding: 20px;
  background: #F3E5F5;
  color:#757575;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  height: 600px;
  width: 1500px;
  overflow-y: auto;
  border: 1px solid #F3E5F5;
  border-radius: 40px;
}

.terminal-output {
  white-space: pre-wrap;
  margin-bottom: 40px;
}

.terminal-input-wrapper {
  display: flex;
  align-items: center;
}

.terminal-input-wrapper input {
  background: transparent;
  border: none;
  color: #757575;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.my-work-feature h3 {
  color: #757575;
}

/* Responsive adjustments */
.my-work-card {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.reveal-card-zoom:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
